*{
	padding:0%;
	margin:0%;
	box-sizing: border-box;
}
body{
	width:100%;
	height:100%;
	background:cyan;
}
#main{
	height:100%;
	width:100%;
}
#form{
	height:20%;
	width:90%;
	margin:5%;
}
#form_textarea{
    display: inline-block;
    width:80%;
    height:100%;
}
#textarea{
	width:100%;
	height:100%;
}
#form_submit{
	display: inline-block;
	width:10%;
	height:100%;
}
#addtask{
	width:100%;
	height:100%;
}
#diff_task{
	background:red;
	height:80%;
	width:100%;
}
.task{
	height:200px;
	width:27%;
	display:inline-block;
	border:1px solid black ;
	background:pink;
    margin:1%;
    padding: 5%;
    position:relative;
}
.close_position{
    position: absolute;
    top:0px;
    right:0px;
    font-size: 20px;
}